body {
  background-image: url("http://cdn.skim.gs/image/upload/v1456344012/msi/Puppy_2_kbhb4a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
header{
  color: green;
  font-style: Helvetica;
}

h1 {
  text-align: center;
}

.column-1 {
  display: inline-block;
    background-color: red;
    width: 40%;
    vertical-align: top;
    padding: 15px; 
}
.column-2 {
      display: inline-block;
    background-color: blue;
    width: 40%;
    vertical-align: top;
    padding: 15px;
    padding-bottom: 36px;
}

footer {
    text-align: center;
    margin-top: 3%;
}